asgiref==3.7.2
certifi==2025.8.3
charset-normalizer==3.4.3
defusedxml==0.7.1
diff-match-patch==20241021
distlib==0.4.0
Django==4.2
django-anymail==9.1
django-ckeditor==6.7.0
django-ckeditor-5==0.2.10
django-cors-headers==3.14.0
django-dotenv==1.4.2
django-environ==0.9.0
django-import-export==3.2.0
django-jazzmin==2.6.0
django-js-asset==3.1.2
django-rest-framework==0.1.0
django-storages==1.14.6
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
environs==14.3.0
et_xmlfile==2.0.0
filelock==3.19.1
humanize==4.6.0
idna==3.10
inflection==0.5.1
marshmallow==4.0.1
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.31.0
setuptools==80.9.0
shortuuid==1.0.11
sqlparse==0.4.4
tablib==3.8.0
tzdata==2023.3
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.34.0
xlrd==2.0.2
xlwt==1.3.0
